@import "variables";

.course{
    height: 100vh;
    background-color: white;
    p{
        color: #343a40;
    }
}

@media (max-width: 460px){
    .course{
        padding-top: 3rem;
        margin-bottom: 7rem;
        h1{
            padding-top: 5rem;
        }
    }
}