<section id="sobre" class="pt-4 pb-5">
    <div class="container">
        <h1 class="pt-5 pb-5 text-center text-dark">Sobre</h1>
        <div class="row">
            <div class="col">
                <div class="pl-2 pr-2 pb-5 lead text-justify text-dark">
                    {{ page.content }}
                    <div class="d-flex justify-content-center">
                        <a href="/sobre">
                            <button type="button" class="ml-2 btn btn-primary btn-lg">Sabia mais</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>