<section id="curso" class="course d-flex justify-content-center flex-column">
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="text-center pb-4 text-dark newsletter-title">
                    Curso
                </h1>
                <div>
                    <p>
                        <strong>CursoFEE - 0217</strong>: Desenvolvimento de Atividades Maker para Apoio ao
                        Ensino de Ciências, Tecnologia, Engenharia, Artes e Matemática (STEAM)
                        em Escolas de Ensino Fundamental II e Médio
                    </p>
                    <p><strong>Período de inscrições</strong>: 01/06/2020 até 25/07/2020.</p>
                    <p><strong>Período de oferecimento</strong>: 03/08/2020 até 23/10/2020.</p>
                    <p><strong>Local do curso</strong>: ONLINE NA PLATAFORMA MOODLE.</p>
                    <p><strong>Horas a Distância</strong>: 30 horas teóricas e 30 horas práticas.</p>
                    <p><strong>Horário das aulas</strong>: LIVRE, CONFORME DISPONIBILIDADE DO ALUNO DURANTE O PERÍODO DE OFERECIMENTO DO CURSO.</p>
                    <p><strong>Quantidade de alunos</strong>: Mínimo de 5 e máximo de 25 alunos matriculados.</p>
                    <p><strong>Valor</strong>: R$298,90</p>
                </div>

            </div>
        </div>
        <div class="d-flex justify-content-left">
                <a href="https://www.extecamp.unicamp.br/dados.asp?sigla=%81g%DC%C2%5E%E0%DC%99&of=%F7%12%A8" target="_blank">
                    <button type="button" class="ml-2 btn btn-primary btn-lg">Inscreva-se</button>
                </a>
         </div>
    </div>
</section>
