<section id="curso" class="course d-flex justify-content-center flex-column">
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="text-center pb-4 text-dark newsletter-title">
                    Curso
                </h1>
                <div>
                    <p>
                        <strong>Curso FEE - 0217</strong>: Desenvolvimento de Atividades Maker para Apoio ao
                        Ensino de Ciências, Tecnologia, Engenharia, Artes e Matemática (STEAM)
                        em Escolas de Ensino Fundamental II e Médio
                    </p>
                    <p><strong>Oferecimento: </strong>003</p>
                    <p><strong>Período de inscrições</strong>: 16/04/2021 até 07/06/2021</p>
                    <p><strong>Período de oferecimento</strong>: 14/06/2021 até 30/08/2021.</p>
                    <p><strong>Local do curso</strong>: ONLINE NA PLATAFORMA MOODLE.</p>
                    <p><strong>Horas a Distância</strong>: 30 horas teóricas e 30 horas práticas</p>
                    <p><strong>Horário das aulas</strong>: LIVRE, CONFORME DISPONIBILIDADE DO ALUNO DURANTE O PERÍODO DE OFERECIMENTO DO CURSO.</p>
                    <p><strong>Quantidade de alunos</strong>: Mínimo de 30 e máximo de 60.</p>
                    <p><strong>Valor</strong>: R$345,00 - *Um kit Micro:Bit V2 (placa, cabo USB,suporte de pilhas e pilhas AAA) enviada para todo aluno que efetivar sua matrícula até 07/06/2021</p>
                </div>

            </div>
        </div>
        <div class="d-flex justify-content-left">
                <a href="https://www.extecamp.unicamp.br/dados.asp?sigla=%81g%DC%C2%5E%E0%DC%99&of=%F7%12%AA" target="_blank">
                    <button type="button" class="ml-2 btn btn-primary btn-lg">Inscreva-se</button>
                </a>
                <a href="https://docs.google.com/document/d/1UVFi4LsOdeEyAlzjclR1qJKcfSYrBysRzm2WATFonKM/edit?usp=sharing" target="_blank">
                    <button type="button" class="ml-2 btn btn-primary btn-lg">Ementa</button>
                </a>
         </div>
    </div>
</section>
